# Ignore node_modules directory
node_modules/

# Ignore build output directories
dist/
build/

# Ignore dependency lock files if not needed
package-lock.json

# Ignore editor and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Ignore all markdown files
*.md
Pointsoulev-Pourquoicestimportant-Commentcorrigerprogresser.csv
server.ts

# Except README.md
!README.md
